In [1]:
# Import Libraries 
import pandas as pd

In [2]:
# Load the data file
pymolifile = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymolifile, encoding="utf-8")

In [3]:
# Show the file header
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display the total number of players
number_of_players = len(purchase_data["SN"].unique())

total_players_df = pd.DataFrame({"Total Players": [number_of_players]})
total_players_df

   Total Players
0            576

In [84]:
# Determine the unique items
unique_items = len(purchase_data["Item ID"].unique())

# What is the average item price?
average_price = (purchase_data["Price"].mean())

# Determine the number of purchases
total_purchases = (purchase_data["Purchase ID"].count())

# Determine the total revenue -- what is the calcuation for this? Add Price to a varible to hold total
total_revenue = sum(purchase_data['Price'])

# Create a summary DataFrame for the above calculations
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [average_price],
                          "Number of Purchases": [total_purchases],
                          "Total Revenue": [total_revenue]})
summary_df = summary_df.round(2)
summary_df ["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df ["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [83]:
# Determine the gender demographics and display the results
# Need the unique SN and the gender

gender_counts = purchase_data.groupby('Gender')['SN'].nunique()
gender_percentage = round(gender_counts / number_of_players * 100,2)

gender_summary_df = pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": gender_percentage}).sort_values(["Total Count"], ascending=False)
#gender_summary_df["Percentage of Players"] = gender_summary_df["Percentage of Players"].map("{:,%}".format
gender_summary_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [73]:
# Purchasing analysis (Gender)

# What is the distribution of purchases between the identified genders?
gender_purchases = purchase_data.groupby("Gender")['Purchase ID'].count()

# What is the average purchase price?
average_price = (purchase_data["Price"].mean())
avg_purchase_price = (purchase_data.groupby('Gender')['Price'].mean())

# What is the total value of purchases each gender made?
total_purchase_value = purchase_data.groupby('Gender')['Price'].sum()

# What is the average total of purchases each gender made?
avg_total_purchase_per_person = total_purchase_value / gender_counts

purchase_analysis_df = pd.DataFrame({"Purchase Count": gender_purchases, "Average Purchase Price": avg_purchase_price, 
                                    "Total Purchase Value": total_purchase_value, 
                                    "Average Total Purchase per Person": avg_total_purchase_per_person})
purchase_analysis_df = purchase_analysis_df.round(2)
purchase_analysis_df ["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_df ["Total Purchase Value"] = purchase_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_df ["Average Total Purchase per Person"] = purchase_analysis_df["Average Total Purchase per Person"].map("${:,.2f}".format)
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [106]:
# Age demographics using bins
# Create the bins that will hold the age categories

bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]

# Create the bin names
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", 
               "30-34", "35-39", "40+"]

# Unique players grouped by age and categorized into bins
players_age = purchase_data.groupby('Age')['SN'].nunique()

players_age = pd.cut(players_age, bins, labels=age_groups, include_lowest = True)
players_age

Age
7       <10
8       <10
9       <10
10      <10
11      <10
12      <10
13      <10
14      <10
15    25-29
16    20-24
17    15-19
18    20-24
19    15-19
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26    10-14
27      <10
28      <10
29    10-14
30    25-29
31      <10
32      <10
33      <10
34      <10
35    10-14
36      <10
37      <10
38      <10
39      <10
40      <10
41      <10
42      <10
43      <10
44      <10
45      <10
Name: SN, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [ ]:
# Purchasing Age Analysis

In [ ]:
# Top Spenders

In [ ]:
# Most popular items

In [ ]:
# Most profitable items