In [1]:
# Import Libraries 
import pandas as pd

In [2]:
# Load the data file
pymolifile = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymolifile, encoding="utf-8")

In [3]:
# Display the TOTAL NUMBER OF PLAYERS
number_of_players = len(purchase_data["SN"].unique())

total_players_df = pd.DataFrame({"Total Players": [number_of_players]})
total_players_df

   Total Players
0            576

In [4]:
# PURCHASING ANALYSIS (TOTAL)

# Determine the unique items
unique_items = len(purchase_data["Item ID"].unique())

# What is the average item price?
average_price = (purchase_data["Price"].mean())

# Determine the number of purchases
total_purchases = (purchase_data["Purchase ID"].count())

# Determine the total revenue
total_revenue = sum(purchase_data['Price'])

# Create a summary DataFrame for the above calculations
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [average_price],
                          "Number of Purchases": [total_purchases],
                          "Total Revenue": [total_revenue]})
summary_df = summary_df.round(2)
summary_df ["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df ["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
# GENDER DEMOGRAPHICS

# Determine the gender demographics and display the results

gender_counts = purchase_data.groupby('Gender')['SN'].nunique()
gender_percentage = round(gender_counts / number_of_players * 100,2)

gender_summary_df = pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": gender_percentage}).sort_values(["Total Count"], ascending=False)
gender_summary_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [6]:
# PURCHASING ANALYSIS (GENDER) 

# What is the distribution of purchases between the identified genders?
gender_purchases = purchase_data.groupby("Gender")['Purchase ID'].count()

# What is the average purchase price?
average_price = (purchase_data["Price"].mean())
avg_purchase_price = (purchase_data.groupby('Gender')['Price'].mean().map("${:.2f}".format))

# What is the total value of purchases each gender made?
total_purchase_value = purchase_data.groupby('Gender')['Price'].sum()

# What is the average total of purchases each gender made?
avg_total_purchase_per_person = total_purchase_value / gender_counts

# Create a summary DataFrame of the Gender Purchasing Analysis
purchase_analysis_df = pd.DataFrame({"Purchase Count": gender_purchases, "Average Purchase Price": avg_purchase_price, 
                                    "Total Purchase Value": total_purchase_value, 
                                    "Average Total Purchase per Person": avg_total_purchase_per_person})
purchase_analysis_df = purchase_analysis_df.round(2)
purchase_analysis_df ["Total Purchase Value"] = purchase_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_df ["Average Total Purchase per Person"] = purchase_analysis_df["Average Total Purchase per Person"].map("${:,.2f}".format)
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
# AGE DEMOGRAPHICS 

# Create the bins that will hold the age categories
bins = [0,9, 14, 19, 24, 29, 34, 39, 50]
# Create the bin names
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", 
               "30-34", "35-39", "40+"]

# Unique players grouped by age and categorized into bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=age_groups)
players_age = purchase_data.groupby('Age Group')['SN'].nunique()

# Percentage of players by their ages
percentage_players_age = round(players_age / number_of_players * 100,2).map("{:,.2f}%".format)

#Create Summary dataview
age_summary_df = pd.DataFrame({"Total Count": players_age,
                                 "Percentage of Players": percentage_players_age})
age_summary_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [8]:
# PURCHASING ANALYSIS (AGE)

# How many purchases did each age group make?
purchase_count_by_age = purchase_data.groupby('Age Group')['Purchase ID'].count()

# What is the average price of those purchases?
average_purchase_price_by_age = (purchase_data.groupby('Age Group')['Price'].mean().map("${:.2f}".format))

# How much in total did each age group spend?
total_purchase_value_by_age  = purchase_data.groupby('Age Group')['Price'].sum()

# What is the average of those total purchases?
average_total_purchase_per_person = total_purchase_value_by_age / players_age

# Create a summary DataFrame of the Purchasing Age Analysis
age_purchase_df = pd.DataFrame({"Purchase Count": purchase_count_by_age, 
                                "Average Purchase Price": average_purchase_price_by_age, 
                                    "Total Purchase Value": total_purchase_value_by_age, 
                                    "Average Total Purchase per Person": average_total_purchase_per_person})
age_purchase_df = age_purchase_df.round(2)
age_purchase_df ["Total Purchase Value"] = age_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_df ["Average Total Purchase per Person"] = age_purchase_df["Average Total Purchase per Person"].map("${:,.2f}".format)
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [9]:
# TOP SPENDERS

# Which players are the top spenders?
top_purchasers = purchase_data.groupby('SN')

# How much in total did each spend?
tops_total_purchases = top_purchasers['Price'].count()

# What is the average price of their purchases?
tops_average_purchase_price = top_purchasers['Price'].mean().map("${:.2f}".format)

# What is the total of their purchases?
tops_total_value = top_purchasers['Price'].sum().map("${:.2f}".format)

# Summary DataFrame
top_spenders_df = pd.DataFrame({"Purchase Count": tops_total_purchases, "Average Purchase Price": tops_average_purchase_price,
                                "Total Purchase Value": tops_total_value}).sort_values(["Purchase Count"],ascending=False).head()
top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

In [10]:
# MOST POPULAR ITEMS

# Retrieve the data to work with
pop_data = purchase_data.loc[:,['Item ID', 'Item Name', 'Price']]

# Group the data and perform calculations 
item_price = pop_data.groupby(['Item ID', 'Item Name'])['Price'].mean()
purchase_count = pop_data.groupby('Item ID')['Item Name'].value_counts()
total_purchase_value = item_price * purchase_count

# Create the summary DataFrame of the popular items analysis
pop_summary_df = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price, "Total Purchase Value": total_purchase_value})
pop_summary_sorted = pop_summary_df.sort_values(by="Purchase Count", ascending=False)
pop_summary_sorted['Total Purchase Value'] = pop_summary_sorted['Total Purchase Value'].map("${:.2f}".format)
pop_summary_sorted['Item Price'] = pop_summary_sorted['Item Price'].map("${:.2f}".format)
pop_summary_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [11]:
# MOST PROFITABLE ITEMS

pop_summary_df.sort_values("Total Purchase Value", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80