In [1]:
# Import Libraries 
import pandas as pd

In [2]:
# Load the data file
pymolifile = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymolifile, encoding="utf-8")

In [3]:
# Show the file header
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display the total number of players
number_of_players = len(purchase_data["SN"].unique())

total_players_df = pd.DataFrame({"Total Players": [number_of_players]})
total_players_df

   Total Players
0            576

In [5]:
# Determine the unique items
unique_items = len(purchase_data["Item ID"].unique())

# What is the average item price?
average_price = (purchase_data["Price"].mean())

# Determine the number of purchases
total_purchases = (purchase_data["Purchase ID"].count())

# Determine the total revenue -- what is the calcuation for this? Add Price to a varible to hold total
total_revenue = sum(purchase_data['Price'])

In [6]:
# Create a summary DataFrame for the above calculations
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [average_price],
                          "Number of Purchases": [total_purchases],
                          "Total Revenue": [total_revenue]})

summary_df = summary_df.round(2)
summary_df ["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df ["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [20]:
# Determine the gender demographics and display the results
# Need the unique SN and the gender

total_players = len(purchase_data["SN"].unique())

gender_counts = purchase_data.groupby('Gender')['SN'].nunique()
gender_percentage = round(gender_counts / number_of_players * 100,2)

gender_summary_df = pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": gender_percentage}).sort_values(["Total Count"], ascending=False)
gender_summary_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [ ]:
# What is the number of total purchase